PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/assessment
CLIENT_URL=http://localhost:5173

# JWT Auth Configuration
JWT_ACCESS_SECRET=DCGCAjJsGT6rY50lcZV2FsF32UZ1wJWrBUPa6nTobjs
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=DCGCAjJsGT6rY50lcZV2FsF32UZ1wJWrBUPa6nTobjd
JWT_REFRESH_EXPIRES_IN=7d
